*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(12, 189, 189);
    border-radius: 10px 10px 10px 10px;
    margin: 0 0;
    padding: 2.5% 2%; 
    background-color: rgba(29, 29, 29, 0.5); 
    display:flex;
    align-items: center;
    justify-content:space-between;
    z-index: 99;
}

.logo{
    width: 50px;
    background-color:rgb(12, 189, 189);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.navbar a {
    position: relative;
    font-size: 14px;
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transform-origin: right;
    transform:scaleX(0);
    transition: transform .5s;
}

.navbar a:hover {
    color:rgb(12, 189, 189);
    transform: scaleX(1);
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(12, 189, 189);
    border-radius: 10px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar button {
    width: 100px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: small;
    color:#000000;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar button:hover {
    background-color:rgb(12, 189, 189);
    color: black;
}

main {
    width : 100%;
    height: auto;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-slider {
    position: relative;
    width: 100%;
    height: 600px;
}


.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path:  circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: .2s;
    transition-property: clip-path;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
}

.img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 100px 30px;
}

.img-slider .slide .info h2 {
    color: rgb(255, 255, 255);
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    width: 60%;
    padding: 10px;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    background: rgba(255, 255, 255, 0.8);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

img-slider .navigation .btn.active {
    background: rgb(12, 189, 189);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.ftr-row {
    width: 100%;
    height: 500px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.ftr-col {
    flex-basis: 50%;
}

.ftr-box {
    width: 80%;
    height: 150px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 10%;
}

.content-section {
    width: 100%;
    height: 500px;
    padding: 10% 8%;
    margin-bottom: 95px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 {
    flex-basis: 50%;
    padding-right: 10%;
}

.section-2 {
    flex-basis: 50%;
}

.section-3 {
    flex-basis: 50%;
}

.section-4 {
    flex-basis: 50%;
    padding-left: 10%;
}

.section {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px; 
}

.content-hdr {
    font-size: 32px;
    padding-bottom: 20px;
}

.content-txt {
    font-size: 30px;
}
.ftr {
    width: auto;
    height: auto;
    margin-top: 50px;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}